*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    justify-items: center;
    color: white;
}
body{
background-color: #4A752C;
}
.heading{
    width: 25rem;
    padding: 20px 0;
    background-color: #578A34;
    margin-top: 30px;
}
.heading>h1{
    font-size: 32px;
}
.scoreCard h2{
    font-size: 21px;
    font-style: light;
}
.gameLayout{
    width: 25rem;
    height: 25rem;
    background-image: url(https://i.postimg.cc/NG7Rxbrj/bg.png);
    display: grid;
    grid-template: repeat(25,1fr) / repeat(25,1fr);
}
.food{
    background-color: #E7471D;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.head{
    background-color: #4977EF;
    height: 15px;
    width: 15px;
}
.startGame{
    text-align: center;
    background-color: #578A34;
    margin-top: 30px;
    font-size: 20px;
    padding: 10px 20px;
}
.startGame h4{
color: #183503;
font-family: "poppins";
font-size: 20px;
}
